body{
    background-size: cover;
    background-image: url(/img/d1.jpg);
  }


/*原样式，原本链接的样式*/
.container {
    display: flex;
    justify-content: center;

  }

  .list {
    list-style: none;
    padding: 20;
    margin: 30;
    font-size: 22px;
    line-height: 25px;
    color:#000;
    font-weight: bold;
    text-align: center;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.2); /* 白色半透明 */
    backdrop-filter: blur(2px); /* 毛玻璃效果 */
    border: 2px solid black; /* 边框 */
    border-radius: 10px; /* 圆角 */
    border: none; /* 无边框 */
    margin: 3px; /* 外边距 */
    box-shadow: 0 0 5px rgb(112, 112, 112); /* 阴影 */
  }

  .link {
    white-space: nowrap;
    display: inline-block;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 15px;
    line-height: 10px;
    font-weight:normal;
    overflow: hidden;
  }

  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    color: #fff;
    background-color: #000;
  }


  ul {
    /* 去掉默认样式 */
    list-style: none;
    padding: 0;
    margin: 0;
  }

